@model TudoracheAlexandruT42.Models.Domain

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Domain"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("Denumire", "Nume Domain")
    <br />
    @Html.TextBox("Denumire", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Denumire, null, new { @class = "text-danger" })
    <br />
    <button class="btn btn-success" type="submit">Adauga domeniu</button>
}