
@{
    ViewBag.Titlu = "Index";
}

<h2>Afisare articole</h2>

@foreach (var article in ViewBag.Articles)
{
    <h1>@article.Title</h1>
    <p>@article.Content</p>
    <p>@article.Date</p>
    <p>@article.Category.CategoryName</p>
    <a href="/Articles/Show/@article.Id"> Afisare articol</a>
}

<br />
<a href="/Articles/New"> Adauga articol</a>