
@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form method="post" action="/Student/New">
    <label>Nume</label>
    <input type="text" name="Name" />
    <label>Adresa e-mail</label>
    <input type="text" name="Email" />
    <label>CNP</label>
    <input type="text" name="CNP" />
    <button type="submit">Adauga student</button>
</form>

